{% extends parent_template|default:"mainframe/base.html" %}

{% block header %}
Управление электрикой
{% endblock header %}


{% block content %}
    <div class="row">
        <div class="col-lg-4" style="text-align: center">
            <button type="button" data-status="off" class="btn btn-default all-lamps-switcher">Выключить все</button>
            <button type="button" data-status="on" class="btn btn-primary all-lamps-switcher">Включить все</button>
        </div>
    </div>
    <hr>
    {% for sensor_ in sensors %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sensor_.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="chart-{{ sensor_.id }}" style="height: 250px;" class="morris-area-chart" data-url="{% url 'get_sensor_data_for_morris' sensor_.id %}"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% endfor %}

{% endblock content %}
