{% extends parent_template|default:"mainframe/base.html" %}

{% block header %}
{{ node.name }}
{% endblock header %}


{% block content %}
    <div class="row">
    
    {% for lamp_ in node.lamp_set.all %}
        <div class="col-lg-4" id="lamp-{{ lamp_.id }}">
            <div class="panel {% if lamp_.on == None %}panel-danger{% elif lamp_.on %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    {{ lamp_.name }}
                </div>
                <div class="panel-body">
                    {% if lamp_.dimmable %}
                    <p style="text-align: center">
                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="{{ lamp_.level }}" class="dimmer"/>
                    </p>
                    {% endif %}
                    <p style="text-align: center">
                        <input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" class="" style="display: none"{% if lamp_.on %} checked{% endif %}{% if not lamp_.dimmable %} data-height="55"{% else %} data-size="mini"{% endif %}>
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}

    
    {% endfor %}
    </div>
    <div class="row">
    {% for sensor_ in node.sensor_set.all %}
        <div class="col-lg-4" id="sensor-{{ sensor_.id }}">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ sensor_.name }}
                </div>
                <div class="panel-body">
                    <p style="text-align: center">
                        <p>{{ sensor_.name }}: <strong class="sensor-value">{{ sensor_.value }}</strong></p>
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}

    
    {% endfor %}
    </div>
    {% for sensor_ in node.sensor_set.all %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sensor_.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="chart-{{ sensor_.id }}" class="morris-area-chart" style="height: 250px;" data-url="{% url 'get_sensor_data_for_morris' sensor_.id %}"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% endfor %}
    <hr>
    <div class="row node_last_answer_time">
        Последняя активность: {{ node.last_answer_time|date:"Y-m-d H:i:s" }}
    </div>
    <hr>
{% endblock content %}
