{% extends parent_template|default:"mainframe/base.html" %}

{% block header %}
{{ zone.name }}
{% endblock header %}


{% block content %}
    <div class="row">
    {% for lamp_ in zone.lamps.all %}
        <div class="col-lg-4" id="lamp-{{ lamp_.id }}">
            <div class="panel {% if lamp_.on == None %}panel-danger{% elif lamp_.on %}panel-primary{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    {{ lamp_.name }}
                </div>
                <div class="panel-body">
                    <p style="text-align: center">
                        <input type="checkbox" data-toggle="toggle" data-url-on="{% url 'switch' lamp_.id 'on' %}" data-url-off="{% url 'switch' lamp_.id 'off' %}" data-on="Enabled" data-off="Disabled" class="" style="display: none"{% if lamp_.on %} checked{% endif %}{% if not lamp_.dimmable %} data-height="55"{% else %} data-size="mini"{% endif %}>
                    </p>
                    {% if lamp_.dimmable %}
                    <p style="text-align: center">
                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="{{ lamp_.level }}" data-url="{% url 'dim' lamp_.id ''%}" class="dimmer"/>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}

    
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-4" style="text-align: center">
            <button type="button" data-url="{% url 'switch_zone' zone.id 'off' %}" class="btn btn-default zone-switcher">Выключить все</button>
            <button type="button" data-url="{% url 'switch_zone' zone.id 'on' %}" class="btn btn-primary zone-switcher">Включить все</button>
        </div>
    </div>
    <hr>
    <div class="row">
    {% for sensor_ in zone.sensors.all %}
        <div class="col-lg-4" id="sensor-{{ sensor_.id }}">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ sensor_.name }}
                </div>
                <div class="panel-body">
                    <p style="text-align: center">
                        {{ sensor_.name }}: {{ sensor_.value }}
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>
    {% for sensor_ in zone.sensors.all %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ sensor_.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="chart-{{ sensor_.id }}" class="morris-area-chart" style="height: 250px;" data-url="{% url 'get_sensor_data_for_morris' sensor_.id %}"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% endfor %}
    <div class="autoupdate" data-url="{% url 'inventory_status' %}?{% for lamp_ in zone.lamps.all %}lamp_id={{ lamp_.id }}{% if not forloop.last %}&{% endif %}{% endfor %}&{% for sensor_ in zone.sensors.all %}sensor_id={{ sensor_.id }}{% if not forloop.last %}&{% endif %}{% endfor %}"></div>
{% endblock content %}
